@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300&display=swap');

html, body {
  margin: 0; 
  padding: 0; 
  background:
    /* linear-gradient(to bottom, rgb(136, 136, 192, 0.35),rgba(255, 255, 255, 0)),  */
    radial-gradient(ellipse 90% 55% at 50% 0%, #e07050cc 0%, transparent 55%),
    radial-gradient(ellipse 100% 100% at 5% 45%, #39673b66 0%, transparent 40%),
    radial-gradient(ellipse 100% 100% at 95% 55%, rgba(150, 105, 180, 0.533) 0%, transparent 40%),
    radial-gradient(ellipse 90% 35% at 50% 100%, #d950e0cc 0%, transparent 0%),
    /* linear-gradient(to top, rgb(136, 136, 192, 0.3),rgba(255, 255, 255, 0)),  */
    #b0b7ce;
  min-height: 100vh;
  background-attachment: fixed;
  overflow-x: hidden; 
}