@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300&display=swap');

html, body {
  margin: 0; 
  padding: 0; 
  background:
    /* linear-gradient(to bottom, rgb(136, 136, 192, 0.35),rgba(255, 255, 255, 0)),  */
    radial-gradient(ellipse 90% 55% at 50% 0%, #e07050cc 0%, transparent 50%),
    radial-gradient(ellipse 100% 100% at 5% 45%, #39673b66 0%, transparent 35%),
    radial-gradient(ellipse 100% 100% at 95% 55%, rgba(150, 105, 180, 0.533) 0%, transparent 35%),
    radial-gradient(ellipse 90% 55% at 50% 100%, #dfb5e7cc 0%, transparent 35%),
    /* linear-gradient(to top, rgb(136, 136, 192, 0.3),rgba(255, 255, 255, 0)),  */
    #c0cad6;
  min-height: 100vh;
  background-attachment: fixed;
  overflow-x: hidden; 
}